body {
    text-align: center;
    background-color:rgba(85, 26, 124, 0.82)
}

img {
    margin-top: 20px;
    
}

h1 {
    font-size: 60px;
    margin: 10px;
    font-family: 'Petit Formal Script', cursive;
    
}

h2 {
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: 'Reem Kufi Fun', sans-serif;
    letter-spacing: 3px;
}

h4 {
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Reem Kufi Fun', sans-serif;
    letter-spacing: 1px;
}

.submit {
    margin-top: 20px;
    margin-left: 5px;
    padding: 5px 40px;
    border-radius: 20px;
    background-color: #FFDF5C;
    color:  rgb(22, 7, 30);
    font-size: 20px;
    border: 1px solid #FFDF5C;
    font-family: 'Reem Kufi Fun', sans-serif;
    cursor: pointer;
}

.submit:hover {
    background-color: #ffde5cd4;
    border: 1px solid #ffde5cd4;
}
.input {
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid rgb(111, 63, 135);
}

a {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    font-family: 'Reem Kufi Fun', sans-serif;
}

a:hover {
    color: black ;
    border: 3px solid black;
}

div {
    margin-top: 30px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Reem Kufi Fun', sans-serif;
}


p {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 20px;
}

footer {
    margin-top: 50px;
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    
    img {
        width: 200px; 
     }

    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 25px;
    }

    .submit {
        font-size: 30px;
    }

    .input {
        width: 300px;
        font-size: 30px;
        margin-top: 5px;
    
    }
    a {
        margin-top: 10px;
        font-size: 30px;
    }

    footer {
        font-size: 20px;
    }
  }
